language: node_js

node_js:
  - 'stable'

before_install:
  # To run tests requiring a graphical user interface on Travis CI, use xvfb (X Virtual Framebuffer)
  # to imitate a display. If you need a browser, you can use Firefox (either with the pre-installed
  # version, or the addon) or Google Chrome (with the addon, on Linux Trusty or OS X).
  - if [ $TRAVIS_OS_NAME == "linux" ]; then
      export CXX="g++-4.9" CC="gcc-4.9" DISPLAY=:99.0;
      sh -e /etc/init.d/xvfb start;
      sleep 3;
    fi

install:
  - npm install

script:
  - gulp package
  - gulp upload-vsix
  - npm run lint
  - npm test

notifications:
  email:
    on_success: never
    on_failure: always
