# These files are excluded during vsce package
.azure-pipelines/**
.github/**
.github/**
.gitignore
.vscode-test/**
.vscode/**
*.cmd
*.ts
**/*.map
**/*.map
build
dist/test/**
grammars/**
gulp*
images/*.svg
node_modules/**
out/**
out/test/**
README.dev.md
src/**
stats.json
test-results.xml
test/**
tsconfig.json
tsd.json
tslint.json
typings/**
webpack.config*
*.vsix
*.zip
pkgs
tools
logs
