<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="WebTools" value="https://devdiv.pkgs.visualstudio.com/_packaging/WebTools/nuget/v3/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <WebTools>
        <add key="Username" value="$LANGSERVER_NUGET_USERNAME" />
        <add key="ClearTextPassword" value="$LANGSERVER_NUGET_PASSWORD" />
    </WebTools>
</packageSourceCredentials>
</configuration>
