steps:

# Install nuget for use by 'npm run package'
- task: NuGetToolInstaller@0
  inputs:
    versionSpec: '5.2.0'

- task: NodeTool@0
  displayName: 'Use Node 8.x'
  inputs:
    versionSpec: 8.x

- task: Npm@1
  displayName: 'npm install'

# Do this to verify that packaging without language server bits works correctly (we don't publish it)
- script: npm run package
  displayName: Package without language server (as a test)

- script: npm run package
  displayName: Package
  env:
    LANGSERVER_NUGET_USERNAME: $(LANGSERVER_NUGET_USERNAME)
    LANGSERVER_NUGET_PASSWORD: $(LANGSERVER_NUGET_PASSWORD)

- task: Npm@1
  displayName: 'Build'
  inputs:
    command: custom
    customCommand: run build
