jobs:
  - job: Windows
    pool:
      vmImage: windows-latest
    steps:
      - template: common/build.yml
      - template: common/test.yml
      - template: common/publish-logs.yml

  - job: Linux
    pool:
      vmImage: ubuntu-latest
    steps:
      - template: common/build.yml
      - template: common/publish-vsix.yml # Only publish vsix from linux build since we use this to release and want to stay consistent
      - template: common/test.yml
      - template: common/publish-logs.yml

  - job: macOS
    pool:
      vmImage: macOS-latest
    steps:
      - template: common/build.yml
      - template: common/test.yml
      - template: common/publish-logs.yml
